* {
    margin: 0px auto;
    padding: 0px auto;
}
.table{
    font-family: 'Lexend', sans-serif;
    background-color: rgb(154, 207, 158);
    color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 1%;
}